certifi==2024.8.30
charset-normalizer==3.3.2
docker==7.1.0
filelock==3.16.1
fsspec==2024.9.0
gym==0.10.9
idna==3.10
jinja2==3.1.4
MarkupSafe==2.1.5
mpmath==1.3.0
networkx==3.1
numpy==1.24.4
pip==21.1.1
PokerRL==0.0.3
psutil==6.0.0
pycrayon==0.5
pyglet==2.0.17
pywin32==306
requests==2.32.3
scipy==1.10.1
setuptools==56.0.0
six==1.16.0
sympy==1.13.3
torch==2.4.1
typing-extensions==4.12.2
urllib3==2.2.3
